<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Pesan Welcome</title>
    <style type="text/css">

        body {
            width: 600px;
            max-width: 100%;
            margin: 0 auto;
        }
        
        .textarea {
            width: 600px;
            max-width: 100%;
            resize: vertical; /* Mencegah perubahan ukuran */
        }
        
        .send {
            width: 100%; /* Agar penuh mengikuti parent */
            max-width: 600px; /* Batasi maksimal lebarnya */
            display: block; /* Menghilangkan jarak inline */
            margin: 10px auto; /* Pusatkan secara horizontal */
            font-size: 16px; /* Ukuran font agar lebih jelas */
            cursor: pointer; /* Ubah kursor menjadi pointer */
        }

        
        </style>
</head>
<body>
    <%- include('partials/header') %> <!-- Menyertakan header -->

</form>
</body>
</html>
